/* ----- */
/* Fonts */
/* ----- */
@font-face {
    font-family: 'Terminator Two';
    src: 
        local('Terminator Two'),
        local('Terminator-Two'),
        url('../webfonts/Terminat.ttf')
        format('truetype');
}

/* ---------- */
/* Everything */
/* ---------- */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Terminator Two', monospace, sans-serif !important;
}

.container {
    position: relative;
    z-index: 0;
    padding: 0 25px;
    margin: auto;
}

.background-cover {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

/* Form Elements */

button {
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    display: block;
}

/* ---------- */
/* Navigation */
/* ---------- */
#mobile-nav-cover {
    position: fixed;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block
 }

#mobile-navigation {
    position: fixed;
    background-color: rgba(0,0,0,.8);
    top: 0;
    right: 0;
    bottom: 0;
}

#navigation {
    display: none;
}

#mobile-navigation a {
    padding: 25px !important;
    display: block !important;
}

#mobile-navigation-toggle {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 2.5rem;
    color: white !important;
}

#navigation-container {
    z-index: 1;
    position: absolute;
    width: 100%;
    background-color: rgba(245,245,245,.47);
}

#navigation {
    font-size: 1.25rem;
}

.navigation-pad {
    height: 50px;
}

#navigation-container a {
    color: white;
    display: inline-block;
    padding: 25px 40px 25px 0;
    text-decoration: none !important;
}

#navigation-container a:hover {
    color: black;
}

/* ------ */
/* Header */
/* ------ */
header {
    position: relative;
    padding-bottom: 25px;
    background-image: url('/img/home-hero.png');
    background-size: cover;
    background-position: right;
}
header > .background-cover {
    text-align: right;
    font-size: 33px;
    background-color: rgba(0,0,0,.85);
    color: rgba(99, 99, 99, 0.31);
}
.header-title {
    margin: 15px 0;
    text-align: center;
    font-size: 30px;
    position: relative;
    color: white;
}

main > :nth-child(2) { /* v-shape on hero */
    clip-path: polygon(0 0, 50% 15px, 100% 0, 100% 100%, 0 100%);
}

main > :not(:first-child) { /* allow edge over lapping  and adjust bg image */
    margin-top: -30px;
    padding-top: 60px;
    padding-bottom: 30px;
    background-size: cover;
    position: relative;
}

/* home specific */

.home-header-title {
    margin: 33.5px 0;
    text-align: left;
    font-size: 56px;
}

.home-tag-line {
    z-index: 1;
    font-size: 22px;
    position: relative;
    color : #74B4DB;
    max-width: 400px;
}

.home-call-to-action {
    font-size: 33px;
    position: relative;
    font-family: inherit;
    border: white solid 2px;
    color: white;
    padding: 4px 25px;
    margin: 55px auto 30px;
}
.home-call-to-action:hover {
    color: #74B4DB;
    cursor: pointer;
    border-color: #74B4DB;
}
#home-header-arrow {
    position: relative;
    margin: auto;
    color: white;
    font-size: 4rem;
    display: block;
    text-align: center;
}
#home-header-arrow:hover {
    cursor: pointer;
    color: #74B4DB;
}

/* ------------ */
/* Home Section */
/* ------------ */

.home-section {
    padding-bottom: 50px !important;
}

.home-section h3 {
    position: relative;
    text-align: center;
    font-size: 46px;
    margin-top: 0;
    margin-bottom: 40px;
}

.home-section button {
    position: relative;
    font-size: 15px;
    padding: 4px 15px;
    margin: 20px auto 40px;
}

.home-section p {
    position: relative;
    font-size: 18px;
    font-family: Arial;
}

/* even sections */

.home-section:nth-of-type(2n+3) {
    clip-path: polygon(100% 100%, 100% 0, 0 25px, 0 100%);
}

.home-section:nth-of-type(2n-1) .background-cover {
    background-color: rgba(245,245,245,.92);
}

.home-section:nth-of-type(2n-1) {
    background-image: url(/img/home-section1.png);
}

.home-section:nth-of-type(2n-1) button {
    border: rgb(255,160,36) solid 2px;
    color: rgb(255,160,36);
}

/* odd sections */

.home-section:nth-of-type(2n) .background-cover {
    background-color: rgba(255,160,36,.92);
}

.home-section:nth-of-type(2n) {
    background-image: url(https://live.staticflickr.com/8469/8081976665_cacf4b618f_b.jpg);
    clip-path: polygon(100% 100%, 100% 25px, 0 0, 0 100%);
}

.home-section:nth-of-type(2n) h3 {
    color: white;
}

.home-section:nth-of-type(2n) button {
    border: black solid 2px;
    color: black;
}

/* ------------ */
/* Contact Page */
/* ------------ */

#contactForm {
    background-image: url('/img/contact.png');
}

#contactForm .background-cover{
    background-color: rgba(245,245,245,.92);
}

#contactForm h4 {
    margin-top: 0;
    font-size: 23px;
}

#contactForm input, #contactForm textarea {
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    display: block;
    width: 100%;
    margin-top: 30px;
}

#contactForm textarea {
    min-height: 350px;
}

#contactForm button {
    font-size: 15px;
    font-family: inherit;
    border: #0882CC solid 2px;
    color: #0882CC;
    padding: 4px 25px;
    margin: 30px auto 0px;
    width: 100%
}

/* ------ */
/* Footer */
/* ------ */

footer {
    font-size: 12px;
    color: white;
    background-color: black;
    padding-top: 20px; 
    padding-bottom: 20px; 
}

/* ----------- */
/* Extra Small */
/* ----------- */

@media only screen and (max-width: 360px) {
    .container {
        padding: 0 10px;
    }

    .home-header-title {
        font-size: 50px;
    }
}

/* --------------- */
/* Tablet Specific */
/* --------------- */
@media only screen and (min-width: 768px) {
    .navigation-pad {
        height: 70px;
    }

    main > :nth-child(2) { /* v-shape on hero */
        clip-path: polygon(0 0, 50% 20px, 100% 0, 100% 100%, 0 100%);
    }

    #navigation {
        display: block;        
    }

    #mobile-navigation-toggle {
        display: none
    }

    .container {
        max-width: 650px
    }

    .header-title {
        text-align: left;
        font-size: 36px;
    }

    .home-header-title {
        font-size: 64px;
    }

    .home-tag-line {
        font-size: 28px;
        max-width: 500px;
    }

    .home-section h3 {
        font-size: 62px;
    }

    #contactForm h4 {
        font-size: 26px;
    }
}

/* ---------------- */
/* Desktop Specific */
/* ---------------- */
@media only screen and (min-width: 1024px) {
    main > :nth-child(2) { /* v-shape on hero */
        clip-path: polygon(0 0, 50% 25px, 100% 0, 100% 100%, 0 100%);
    }

    .container {
        max-width: 900px
    }

    .header-title {
        text-align: left;
        font-size: 40px;
    }
    
    .home-tag-line {
        font-size: 28px;
        max-width: 850px;
    }
    
    .home-section h3 {
        font-size: 71px;
    }

    #contactForm h4 {
        font-size: 29px;
    }
}
